.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.loaderActive {
  font-size: 16px;
  background: var(--grey-color);
  color: var(--main-text-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.3;

  padding: 20px 0;
  margin: 5px 0;
  text-decoration: none;
}

.section {
  font-size: 16px;
  background: var(--grey-color);
  color: var(--main-text-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px 0;
  margin: 5px 0;
  text-decoration: none;
}

.section:hover {
  background: var(--grey-hover-color);
  opacity: 0.9;
  cursor: pointer;
}

.teamName {
  color: var(--orange-text-color);
}

.teamLogo {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

@media (min-width: 540px) {
  .container {
    display: grid;
    column-gap: 10px;

    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .container {
    display: grid;
    column-gap: 10px;

    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    column-gap: 10px;

    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1368px) {
  .container {
    display: grid;
    column-gap: 10px;

    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1600px) {
  .container {
    display: grid;
    column-gap: 10px;

    grid-template-columns: repeat(6, 1fr);
  }
}